:root {
  font-family: Space Grotesk, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(200, 200, 200, 1);
  background-color: #242424;
  height: 100vh;
  background-image: url("./src/assets/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
}
